.card{
  background-color: #e5f6ff;
  border: 2px solid #dddddd ;
  max-width: 300px;
  padding: 0.5em;
  align-items: center;
}
.card img{
  width: 100%;
}
.card-container{
  display: flex;
  flex-wrap: wrap;
  gap:12px;
  justify-content: center;
}
button{
  height: 48px;
  text-align: center;
  background-color: #007acc;
  color: #ffffff;
  border-radius: 12px;
}
button:hover{
  
  background-color: #005fa3;
}
.button{
  text-align: center;
}